<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8">
<title>{{ clinic }}</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<!-- LOGO -->
<div class="logo">
    <img src="/logo.jpg" alt="logo">
</div>

<h1>🏥 {{ clinic }}</h1>
<h3>👩‍⚕️ {{ doctor }}</h3>

<div class="card summary">
💰 درآمد کل: {{ income }} تومان
</div>

<!-- ثبت بیمار -->
<div class="card">
<h2>➕ ثبت بیمار</h2>

<form method="POST" action="/add">
<input name="name" placeholder="نام">
<input name="age" placeholder="سن">
<input name="phone" placeholder="تلفن (کلید یکتا)">
<input name="disease" placeholder="بیماری">
<textarea name="visit_note" placeholder="یادداشت"></textarea>
<input name="fee" placeholder="هزینه">
<button>ثبت</button>
</form>
</div>

<!-- گزارش -->
<div class="card">
<h2>📊 گزارش درآمد بازه‌ای</h2>
<form action="/report_income" method="get" target="_blank">
<input name="start" placeholder="از تاریخ (شمسی YYYY-MM-DD)">
<input name="end" placeholder="تا تاریخ (شمسی YYYY-MM-DD)">
<button>محاسبه</button>
</form>
</div>

<!-- بیماران -->
<div class="card">
<h2>👥 بیماران</h2>

<table>
<tr>
<th>نام</th>
<th>تلفن</th>
<th>بیماری</th>
<th>پروفایل</th>
<th>حذف</th>
</tr>

{% for p in patients %}
<tr>
<td>{{p.name}}</td>
<td>{{p.phone}}</td>
<td>{{p.disease}}</td>
<td><a href="/profile/{{p.phone}}">👁</a></td>
<td><a href="/delete/{{p.id}}">🗑</a></td>
</tr>
{% endfor %}

</table>

</div>

</div>

</body>
</html>