<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8">
<title>پروفایل بیمار</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<div class="card summary">
<h2>👤 پروفایل بیمار</h2>
</div>

<div class="card">

<p><b>نام:</b> {{p.name}}</p>
<p><b>سن:</b> {{p.age}}</p>
<p><b>تلفن:</b> {{p.phone}}</p>
<p><b>بیماری:</b> {{p.disease}}</p>
<p><b>تاریخ:</b> {{p.visit_date}}</p>
<p><b>یادداشت:</b> {{p.visit_note}}</p>
<p><b>هزینه:</b> {{p.fee}}</p>

</div>

<a href="/">⬅ بازگشت</a>

</div>

</body>
</html>